<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
       <a  class="logo d-flex align-items-center me-auto me-lg-0">
          <h1>Yummy<span>.</span></h1>
       </a>
       <nav id="navbar" class="navbar">
          <ul>
             <li><a routerLink="">Home</a></li>
             <li><a routerLink="/restaurants">Restaurants</a></li>
             <li><a routerLink="/menu">Menu</a></li>
             <li><a routerLink="/chefs">Chefs</a></li>
             <li><a routerLink="/contact">Contact</a></li>
          </ul>
       </nav>
       <form class="d-flex mt-4 mt-lg-0 ms-lg-auto ms-xl-0 ">
         <div class="input-group-icon pe-2"><i class="fas fa-search input-box-icon text-primary"></i>
           <input class="form-control border-0 input-box bg-100" type="search" placeholder="Search Food" aria-label="Search" />
         </div>
         <a class="btn-book-a-table  text-lg-start" href="#book-a-table"> <i class="bi bi-person-fill"></i> Login</a> <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"  ></i>
       </form>
       
    </div>
  </header>
