<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
       <div class="section-header">
          <h2>Our Menu</h2>
          <p>Check Our <span>Yummy Menu</span></p>
       </div>
<ul>
    <li *ngFor="let food of foods">
      <a>
        <img src ="{{food.image}}" alt="">
        <div class = "content">
         <div class ="name">
          {{food.name}}
         </div>
         <span class="favorite {{food.favorite?'':'not'}}">
          <i class="bi bi-suit-heart-fill " ></i>
         </span>

         <bar-rating [rate]="food.stars" [max]="5">
          <ng-template ratingActive>
            <i class="bi bi-star-fill" style="margin: 2px; color: #df2828"></i>
          </ng-template>
          <ng-template ratingInactive>
            <i class="bi bi-star-fill icon-red" style="margin: 2px; color: grey"></i>
          </ng-template>
         </bar-rating>
       
         <div class="product-item-footer">
           <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{origin}}   
            </span>
           </div>
           <div class="cook-time">
            <span><i class="bi bi-clock"></i></span>
            {{food.cookTime}}
            </div>  
         </div>
          <div class="price">
            <span>
                {{food.price|currency}}
            </span>
          </div>
          
        </div>
        <div class="text-center"> 
          <button routerLink="/reservation" class="btn-book-a-table">ORDER NOW</button>  
        </div>

      </a>
    </li>
</ul>
</div>
</section>