ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
    margin: left 30px;;
}

 li {
    position: relative;
    padding-left: 11px;
  
    color: rgb(68, 63, 63);
    font-family:"Inter";
}


.btn-book-a-table,
.btn-book-a-table:focus {
 font-size: 14px;
 color: #fff;
 background: var(--color-primary);
 padding: 8px 20px;
 
 border-radius: 10px;
 transition: 0.3s;
 border: #fff;
 align-items: center ;
}

.btn-book-a-table:hover,
.btn-book-a-table:focus:hover {
 color: #fff;
 background: rgba(206, 18, 18, 0.8);
}